.game-area {
    color: green;
}

.game-logo img {
    height: 75px;
}

.game-logo .left-logo {
    transform: rotateZ(90deg) rotateY(180deg);
}

.game-logo .right-logo {
    transform: rotateZ(-90deg);
}
